
body{
    font-family: 'Quattrocento', serif;
    color: #000;
    font-size: 5vw;
    background: #fff url(/img/iceberg-transparent-optimized.svg) 50vw 2vh no-repeat;
    background-size: contain;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    margin: 5vw 0;
}

h1#logo { 
    /* font-family: 'Francois One', sans-serif;
    background: transparent url(/img/fusionstrings-logo-alt-optimized.svg) center center no-repeat;
	background-size: contain;
    height: 10vmin;
    padding: 0;
	margin: 0;
    text-indent: -99999px; */
    text-align: center;
    line-height: 10vmin;
}

h1#logo a{
    display: inline-block;
}

h1#logo img{
    height: 10vmin;
}
/* h1#logo::after{
	content: "";
    background: transparent url(/img/अथातो-घुमक्कड़.svg) center center no-repeat;
    height: 33px;
    width: 100vw;
    display: block;
} */

main, footer {
	padding: 0 5vw;
}

#hero .title{
	text-align: left;
}

#hero .title h1, #hero .title h2 {
	font-family: 'Amethysta', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'DM Serif Display', serif;
	margin: 0 0 2vw;
}

#hero .title h2{
	font-size: 12vw;
    line-height: 1;
}

#hero .title h3{
	font-size: 4vw;
    word-spacing: -2px;
    font-family: 'Playfair Display', serif;
    font-family: 'Manrope', sans-serif;
    line-height: 1;
}

#hero .title h1 .alt, #hero .title h2 .alt {
	font-family: 'Arapey', serif;
    font-family: 'DM Serif Text', serif;
	font-weight: normal;
    display: block;
}

.title h2 .alt{
    display: block;
    font-size: 8vw;
}

.hash {
	font-family: 'Arapey', serif;
	font-weight: normal;
    display: block;
    margin-top: 20px;
}

.statement{
	font-family: 'Dawning of a New Day', cursive;
	font-family: 'Over the Rainbow', cursive;
    font-family: 'Playfair Display', serif;
	/* max-width: 85%; */
    line-height: 1.3;
    font-size: 4.5vw;
}

.regular{
    font-family: 'DM Serif Text', serif;
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
    line-height: 1.3;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#hero .hero-cta{
	margin-top: 2vw;
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
    background: transparent url(/img/pdf-file.svg) right center no-repeat;
	background-size: contain;
	padding-right: 6vw;
    background-size: 15%;
    color: #ff0088;
}

nav{
    margin: 5vw 0;
}

nav ul{
    margin: 0;
    padding: 0;
	list-style: none;
    display: flex;
    align-content: space-between;
	font-size: 1rem;
	font-family: 'Bebas Neue', cursive;
}

nav ul li{
    margin: 0 20px 0 0;
}

nav ul a{
    color: #ff0088;
}

.regular h2{
	font-family: 'Bebas Neue', cursive;
}