:root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body{
	font-family: 'Arapey', serif;
    color: #000;
    font-size: var(--font-size-md);
    background: #fff url(/images/iceberg-transparent-optimized.svg) 50vw 2vh no-repeat;
    background-size: contain;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    margin: 5vw 0;
}

h1#logo {
    text-align: center;
    line-height: 10vmin;
}

h1#logo a{
    display: inline-block;
}

h1#logo images{
    height: 10vmin;
}

main, footer {
	padding: 0 5vw;
}

#hero .title{
	text-align: left;
}

#hero .title h1, #hero .title h2 {
	margin: 0 0 2vw;
}

#hero .title h2{
	font-size: 12vw;
    line-height: 1;
}

#hero .title h3{
	font-size: 4vw;
    word-spacing: -2px;
    line-height: 1;
}

#hero .title h1 .alt, #hero .title h2 .alt {
	font-weight: normal;
    display: block;
}

.title h2 .alt{
    display: block;
    font-size: 8vw;
}

.hash {
	font-weight: normal;
    display: block;
    margin-top: 20px;
}

.statement{
    line-height: 1.3;
    font-size: 4.5vw;
}

.regular{
    font-size: 4.5vw;
    line-height: 1.3;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#hero .hero-cta{
	margin-top: 2vw;
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
    background: transparent url(/images/pdf-file.svg) right center no-repeat;
	background-size: contain;
	padding-right: 6vw;
    background-size: 15%;
    color: #ff0088;
}

nav{
    margin: 5vw 0;
}

nav ul{
    margin: 0;
    padding: 0;
	list-style: none;
    display: flex;
    align-content: space-between;
	font-size: 1rem;
	font-family: 'Bebas Neue', cursive;
}

nav ul li{
    margin: 0 20px 0 0;
}

nav ul a{
    color: #ff0088;
}

.regular h2{
	font-family: 'Bebas Neue', cursive;
}